<div class="container-search mt-5">
<% if @model == "user" %>
  <h2><%= "Users search for '#{@content}'" %></h2>
  <%= render 'searcher', datas: @datas, model: @model %>
<% elsif @model == "book" %>
  <h2><%= "Books search for '#{@content}'" %></h2>
  <%= render 'searcher', datas: @datas, model: @model %>
<% end %>
</div>
